<div class="text-center pt-5">
  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onLogin()">
    <!--   <img
      class="mb-4"
      src="/docs/4.5/assets/brand/bootstrap-solid.svg"
      alt=""
      width="72"
      height="72"
    /> -->

    <h1 class="h3 mb-3 font-weight-normal">INICIAR SESIÓN</h1>
    <label for="inputEmail" class="sr-only">Correo</label>

    <input
      formControlName="username"
      type="text"
      class="form-control"
      placeholder="Correo"
      required
      autofocus="true"
      [ngClass]="{ 'is-invalid': isValidField('username') }"
    />
    <div class="invalid-feedback" *ngIf="isValidField('username')">
      {{ getErrorMessage("username") }}
    </div>

    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="Contraseña"
      required
      [ngClass]="{ 'is-invalid': isValidField('password') }"
    />
    <div class="invalid-feedback">
      {{ getErrorMessage("password") }}
    </div>

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Recurdame </label>
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      [disabled]="loginForm.invalid"
      type="submit"
    >
      Iniciar Sesion
    </button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
</div>
