<p-toast></p-toast>
<div>
  <form
    [formGroup]="registerForm"
    class="form-signup"
    (ngSubmit)="onRegister()"
  >
    <h1 class="h3 pt-5 font-weight-normal" style="text-align: center">
      REGISTRO
    </h1>
    <img
      src="/assets/img/logo.jpg"
      alt=""
      width="150"
      height="150"
      style="display: block; margin: auto"
      [routerLink]="['/']"
    />
    <h5>Nombre de usuario</h5>
    <input
      id="user_id"
      pPassword
      formControlName="username"
      type="text"
      [feedback]="false"
      style="width: 100%"
      [ngClass]="{ 'p-invalid': isValidField('username') }"
    />
    <small
      *ngIf="isValidField('username')"
      id="username2-help"
      class="p-invalid"
    >
      {{ getErrorMessage("username") }}</small
    >
    <h5>Correo</h5>
    <input
      id="email_id"
      formControlName="email"
      type="text"
      style="width: 100%"
      pInputText
      [ngClass]="{ 'p-invalid': isValidField('email') }"
    />
    <small *ngIf="isValidField('email')" id="username2-help" class="p-invalid">
      {{ getErrorMessage("email") }}</small
    >

    <h5>Contraseña</h5>
    <input
      id="password_id"
      pPassword
      formControlName="password"
      type="password"
      [feedback]="false"
      style="width: 100%"
      [ngClass]="{ 'p-invalid': isValidField('password') }"
    />
    <small
      *ngIf="isValidField('password')"
      id="username2-help"
      class="p-invalid"
    >
      {{ getErrorMessage("password") }}</small
    >

    <button
      pButton
      pRipple
      [disabled]="registerForm.invalid"
      style="width: 100%"
      type="submit"
      label="Registrarme"
      class="btn-submit p-button-outlined p-button-secondary"
    ></button>
    <p style="text-align: center" class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
</div>
