<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <a class="navbar-brand" [routerLink]="['/']">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Informacion UPTC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">Categorias</h6>
          <a class="dropdown-item" href="#">Informacion Institucional</a>
          <a class="dropdown-item" href="#">Servicios</a>
          <a class="dropdown-item" href="#">Deporte y cultura</a>
          <a class="dropdown-item" href="#">Grupos de investigacion</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Foro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/noticias']">Noticias</a>
      </li>
    </ul>

    <ng-template #viewUser>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-item nav-link dropdown-toggle mr-md-2"
            href="#"
            id="bd-versions"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Bienvenido!
          </a>
          <div
            class="dropdown-menu dropdown-menu-md-right"
            aria-labelledby="bd-versions"
          >
            <a class="dropdown-item" href="#">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-person-circle"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                style="margin-right: 5px"
              >
                <path
                  d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
                />
                <path
                  fill-rule="evenodd"
                  d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
                /></svg
              >Mi cuenta</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogout()"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-door-open-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                style="margin-right: 5px"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"
                /></svg
              >Cerrar Sesion</a
            >
          </div>
        </li>
      </ul>
    </ng-template>

    <a
      class="btn btn-outline-warning"
      *ngIf="!isLogged; else viewUser"
      [routerLink]="['/login']"
      >Iniciar Sesion</a
    >
  </div>
</nav>
