<app-carousel></app-carousel>

<div class="wrapper d-flex align-items-stretch">
  <div class="container">
    <div class="overflow-auto">
      <div class="container p-4">
        <div class="row">
          <div class="col-3">
            <p-menu [model]="items"></p-menu>
          </div>
          <div class="col-8">
            <p-fieldset legend="Bienestar Universitario">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/01_activ_fis/act_fisica/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_01.jpg"
                        alt="Lights"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Fomenta los hábitos y estilos de vida saludable a
                          través de la práctica de actividad física
                          musicalizada, programas de musculación ejercicio
                          cardiovascular, con asesoría y acompañamiento de
                          profesionales calificados.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/02_salud/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_02.jpg"
                        alt="Nature"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Para estudiantes: se asigna a través del sistema SIIB,
                          de acuerdo al horario y disponibilidad de agenda para
                          funcionarios y beneficiarios: se asigna vía
                          telefónica, extensión 2418. [...]
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/03_apsocieco/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_03.jpg"
                        alt="Fjords"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Otorga estímulos, beneficios y acompañamientos a los
                          estudiantes con el propósito de intervenir causas no
                          académicas de deserción, para reafirmar la permanencia
                          y graduación.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/04_deshum/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_04.jpg"
                        alt="Fjords"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          La línea Desarrollo Humano informa a la comunidad
                          universitaria que la atención a las solicitudes
                          propias de la línea se hará a través del correo de la
                          siguiente manera: [...]
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/05_deporte/dep_1/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_05.jpg"
                        alt="Fjords"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Desarrolla actividades a nivel: formativo,
                          representativo y recreativo coadyuvando en el
                          desarrollo integral de la comunidad universitaria.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/06_cultura/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_06.jpg"
                        alt="Fjords"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Fomenta las expresiones culturales y artísticas, en
                          los niveles: formativo, representativo y recreativo,
                          en el marco del modelo Universidad saludable, como
                          parte del desarrollo integral de la comunidad
                          universitaria, a través de las siguientes áreas:
                          Música, Danza, Artes Plásticas, escénicas y visuales.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/08_bienvirtual/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_07.jpg"
                        alt="Fjords"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Este espacio tiene como propósito extender servicios y
                          programas de Bienestar Universitario a la comunidad
                          Upetecista mediante la modalidad virtual como son:
                          Consejerías, webinar o seminarios, conversatorios,
                          chat de apoyo socioeconómico [...]
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/00_noticias/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_08.jpg"
                        alt="Fjords"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Que mediante resolución 2161 del 30 de junio de 2020
                          se establece el calendario para el proceso de
                          asignación a los reconocimientos, becas trabajo y
                          estímulos de bienestar de las diferentes
                          convocatorias: [...]
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a
                      href="http://www.uptc.edu.co/bienestar_universitario/07_generalidades/"
                    >
                      <img
                        src="http://www.uptc.edu.co/export/sites/default/bienestar_universitario/img/v3/bien_bot_09.jpg"
                        alt="Fjords"
                        style="width: 100%"
                      />
                      <div class="caption">
                        <p>
                          Bienestar Universitario fundamenta su gestión en los
                          principios de universalidad, reciprocidad,
                          integralidad, y solidaridad en el marco del modelo
                          universidad saludable; constituye uno de los pilares
                          fundamentales [...]
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>

        <!--
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <p-fieldset legend="Servicios">
              <p>
                La Universidad Pedagógica y Tecnológica de Colombia (UPTC) es
                una Universidad pública, estatal de carácter nacional,
                financiada principalmente por el Estado Colombiano, con una
                acreditación Institucional de Alta Calidad Multicampus en marzo
                de 2015, con sede principal en la ciudad de Tunja.
              </p>
              <p>
                Es la Universidad más importante del departamento de Boyacá y
                una de las más prestigiosas en el Estado Colombiano por su nivel
                académico haciendo presencia en ocho departamentos del país.
                Cuenta con una sede central, tres sedes seccionales, seis sedes
                en programa de extensión y veinticuatro centros regionales de
                educación a distancia en los que funcionan once facultades, 72
                programas académicos de pregrado con registro calificado activo,
                48 especializaciones, 37 Maestrias y 10 doctorados.
              </p>
              <p>
                La Universidad fue creada con el objetivo de hacer énfasis en la
                educación en pedagogía, la ciencia y la tecnología. Actualmente
                figura en el puesto número 9 entre las mejores universidades de
                Colombia (año 2019) según el ranking adelantado por Sapiens
                Research Group. Además, es la cuarta universidad del país por
                número de estudiantes, 27.136 en programas de pregrado y 2.870
                en posgrado.
              </p>
            </p-fieldset>
          </div>

          <div class="col-md-5 col-sm-12">
            <iframe
              width="100%"
              height="400"
              src="https://www.youtube.com/embed/ji0gtLQ3Euw"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <app-gallery></app-gallery>

        <div class="line"></div>

        <div class="line"></div>
        <p-fieldset legend="Misión">
          <p>
            Formar profesionales competentes y éticos, constructores de una
            ciudadanía reflexiva, crítica y solidaria en armonía con la visión
            humanista de la cultura Upetecista, comprometida con la promoción
            del desarrollo y el bienestar social de la región y de la nación. La
            UPTC, a través de su quehacer en docencia, investigación y extensión
            en los diferentes niveles de formación (pregrado, posgrado y
            educación continuada), y la pluralidad de saberes existentes, está
            articulada con las dinámicas del sector productivo, del gobierno
            nacional, de las entidades territoriales, y de la sociedad civil,
            comprometidos - en el marco de la democracia participativa y de
            construcción de la paz-, con la búsqueda del desarrollo humano
            inclusivo y sostenible. El liderazgo, responsabilidad y compromiso
            social de los egresados contribuyen a la consolidación de una
            sociedad regional y una nación más justa, equitativa y democrática.
            (
            <a
              href="http://www.uptc.edu.co/export/sites/default/secretaria_general/consejo_superior/acuerdos_2019/Acuerdo__070__2019.pdf"
              >Acuerdo N° 070 de 2019</a
            >
            )
          </p>
        </p-fieldset>

        <div class="line"></div>
        <p-fieldset legend="Visión">
          <p>
            En el año 2030, por su desempeño académico, la UPTC se consolidará
            como una de las mejores universidades públicas de Colombia y de
            América Latina, resultante de la excelente calidad de la oferta
            académica multinivel y del compromiso de su comunidad universitaria,
            con las transformaciones sociales, económicas, institucionales,
            culturales y ambientales, de su entorno local, regional y nacional.
            Así mismo, potenciará la fortaleza de su campus y patrimonio
            arqueológico, bibliográfico y cultural, como eje del bienestar de la
            Comunidad Upetecista (
            <a
              href="http://www.uptc.edu.co/export/sites/default/secretaria_general/consejo_superior/acuerdos_2019/Acuerdo__070__2019.pdf"
              >Acuerdo N° 070 de 2019</a
            >
            ).
          </p>
        </p-fieldset>
        <div class="line"></div>

        <p-fieldset legend="Valores">
          <ul>
            <li>
              Integridad: Vivimos la Integridad que lleva intrínseca la ética,
              la disciplina, el respeto por la dignidad humana y la firmeza en
              nuestras acciones.
            </li>
            <li>
              Servicio: Mantengo disposición para escuchar, entender y
              satisfacer las necesidades y expectativas misionales de nuestro
              público de interés.
            </li>
            <li>
              Tolerancia: Respeto la diferencia de los demás en su forma de ser,
              pensar y actuar.
            </li>
            <li>
              Solidaridad: Hago propias las metas de mi institución y contribuyo
              al logro de los resultados.
            </li>
            <li>
              Liderazgo: De manera creativa y con identidad Upetecista, promuevo
              ambientes de cambio en beneficio del desarrollo Institucional.” (
              <a
                href="http://www.uptc.edu.co/export/sites/default/secretaria_general/consejo_superior/acuerdos_2017/Acuerdo_019_2017.pdf"
                >Acuerdo No. 019 de 2017</a
              >
              ,<a
                href="http://www.uptc.edu.co/export/sites/default/secretaria_general/consejo_superior/acuerdos_2017/Acuerdo_019_2017.anexo.pdf"
                >anexo</a
              >
              )
            </li>
          </ul>
        </p-fieldset>
      </div>-->
      </div>
    </div>
  </div>
</div>
