a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.site-section {
  padding: 7em 0;
}
.site-section.py-md {
  padding: 3em 0;
}
.site-section.py-sm {
  padding: 0em 0;
}

.blog-entries .blog-entry {
  display: block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-bottom: 30px;
  position: relative;
}
.blog-entries .blog-entry:hover,
.blog-entries .blog-entry:focus {
  opacity: 0.7;
  top: -1px;
  -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
}
.blog-entries .blog-entry .blog-content-body {
  padding: 20px;
  border: 1px solid #efefef;
  border-top: none;
}
.blog-entries .blog-entry img {
  max-width: 100%;
}
.blog-entries .blog-entry h2 {
  font-size: 18px;
  line-height: 1.5;
}
.blog-entries .blog-entry p {
  font-size: 13px;
  color: gray;
}

.blog-entries .post-meta {
  margin-bottom: 20px;
  font-size: 14px;
  color: #b3b3b3;
}
.blog-entries .post-meta .author img {
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.sidebar {
  padding-left: 5em;
}
@media (max-width: 991.98px) {
  .sidebar {
    padding-left: 15px;
  }
}

.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}
.sidebar-box *:last-child {
  margin-bottom: 0;
}
.sidebar-box .heading {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.categories {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.categories li {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}
.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a {
  display: block;
  font-size: 16px;
}
.categories li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.categories li a:hover span {
  color: #000;
}
.categories li.active a {
  color: #000;
  font-style: italic;
}

.heading {
  color: #000;
}

.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}
.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}
.post-entry-sidebar ul li a {
  display: table;
}
.post-entry-sidebar ul li a img {
  width: 90px;
}
.post-entry-sidebar ul li a img,
.post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}
.post-entry-sidebar ul li a .text h4 {
  font-size: 18px;
}
