<nav id="sidebar" [class.active]="sidebarService.showSidebar">
  <ul class="list-unstyled components">
    <p>Consultar informacion</p>
    <li>
      <a href="#">Informacion Institucional</a>
    </li>
    <li class="active">
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Servicios</a
      >
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Restaurante</a>
        </li>
        <li>
          <a href="#">Salud</a>
        </li>
        <li>
          <a href="#">Biblioteca</a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Deporte y Cultura</a
      >
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Deporte</a>
        </li>
        <li>
          <a href="#">Cultura</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Grupos de investigación</a>
    </li>
  </ul>
  <ul class="list-unstyled CTAs">
    <li>
      <a
        href="https://bootstrapious.com/tutorial/files/sidebar.zip"
        class="download"
        >Download source</a
      >
    </li>
    <li>
      <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article"
        >Back to article</a
      >
    </li>
  </ul>
</nav>
