<!--<form [formGroup]="createPostForm" (ngSubmit)="onCreatePost()">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-8">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Añadir título</label>
            <input
              id="titulo_id"
              pInputText
              formControlName="title"
              type="text"
              [ngClass]="{ 'p-invalid': isValidField('title') }"
            />
          </div>
          <small
            *ngIf="isValidField('title')"
            id="username2-help"
            class="p-invalid"
          >
            {{ getErrorMessage("title") }}</small
          >
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Contenido de la noticia</label>
            <p-editor
              [(ngModel)]="contenido"
              [style]="{ height: '320px' }"
              name="editor"
            >
              <ng-template pTemplate="header">
                <span class="ql-formats">
                  <button
                    type="button"
                    class="ql-bold"
                    aria-label="Bold"
                  ></button>
                  <button
                    type="button"
                    class="ql-italic"
                    aria-label="Italic"
                  ></button>
                  <button
                    type="button"
                    class="ql-underline"
                    aria-label="Underline"
                  ></button>
                </span>
              </ng-template>
            </p-editor>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputAddress2">Visibilidad</label>
            <select
              name="selector"
              class="custom-select mr-sm-2"
              [(ngModel)]="visibilityOption"
              (ngModelChange)="toNumber()"
            >
              <option *ngFor="let item of visibility" [value]="item.num">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4" style="display: flex">
            <button
              type="submit"
              class="btn btn-warning"
              style="align-self: flex-end; width: 100%"
            >
              Publicar
            </button>
          </div>
        </div>

        <div class="form-group">
          <label for="inputAddress2" style="display: block"
            >Fecha de publicación</label
          >
          <p-calendar
            inputId="calendar"
            [locale]="es"
            dateFormat="dd/mm/yy"
            showButtonBar="true"
            [showIcon]="true"
            [(ngModel)]="fecha"
            name="date"
          ></p-calendar>
        </div>
        <div class="form-group">
          <label for="inputAddress2" style="display: block">Categorias</label
          ><p-multiSelect
            *ngIf="categories"
            [options]="categories"
            [(ngModel)]="selectedCategories"
            defaultLabel="Seleccionar categorias"
            optionLabel="name"
            name="categories"
          ></p-multiSelect>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="customFileLangHTML"
              name="file"
              (change)="handleFileInput($event.target.files)"
            />
            <label
              class="custom-file-label"
              for="customFileLangHTML"
              data-browse="Seleccionar"
              >Imagen destacada</label
            >
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"
            >Escribe un extracto (opcional)</label
          >
          <textarea
            class="form-control"
            name="extracto"
            id="exampleFormControlTextarea1"
            rows="3"
            ngModel
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
-->
<p-toast></p-toast>
<div class="container pt-5"><h2>Agregar Noticia</h2></div>
<div class="pt-4 pb-4">
  <form
    [formGroup]="createPostForm"
    class="form-signup"
    (ngSubmit)="onCreatePost()"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <label>Añadir título</label>
            </div>
            <div class="col-sm-12 mb-3">
              <input
                id="title_id"
                pInputText
                formControlName="title"
                type="text"
                style="width: 100%"
                [ngClass]="{ 'p-invalid': isValidField('title') }"
              />
              <small
                *ngIf="isValidField('title')"
                id="title2-help"
                class="p-invalid"
              >
                {{ getErrorMessage("title") }}</small
              >
            </div>
            <div class="col-sm-12">
              <label>Contenido</label>
            </div>
            <div class="col-sm-12 mb-3">
              <p-editor
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="content"
                [style]="{ height: '320px' }"
                name="editor"
              >
                <ng-template pTemplate="header">
                  <span class="ql-formats">
                    <button
                      type="button"
                      class="ql-bold"
                      aria-label="Bold"
                    ></button>
                    <button
                      type="button"
                      class="ql-italic"
                      aria-label="Italic"
                    ></button>
                    <button
                      type="button"
                      class="ql-underline"
                      aria-label="Underline"
                    ></button>
                  </span>
                </ng-template>
              </p-editor>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <label>Visibilidad</label>
            </div>
            <div class="col-sm-12 mb-3">
              <select
                name="selector"
                class="custom-select mr-sm-2"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="visibilityOption"
                (click)="validateStatus()"
                (ngModelChange)="validateStatus()"
              >
                <option *ngFor="let item of visibility" [value]="item.num">
                  {{ item.name }}
                </option>
              </select>
              <small
                *ngIf="showSelectRequiredMessage"
                id="username2-help"
                class="p-invalid"
              >
                Este campo no puede estar vacio</small
              >
            </div>
            <div class="col-sm-12 mb-3">
              <button
                (click)="submitForm()"
                class="btn btn-warning"
                style="width: 100%"
              >
                Publicar
              </button>
            </div>
            <div class="col-sm-12">
              <label>Fecha de publicación</label>
            </div>
            <div class="col-sm-12 mb-3">
              <p-calendar
                inputId="calendar"
                [locale]="es"
                dateFormat="dd/mm/yy"
                showButtonBar="true"
                [showIcon]="true"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="date"
                name="date"
              ></p-calendar>
            </div>
            <div class="col-sm-12">
              <label>Categorias</label>
            </div>
            <div class="col-sm-12">
              <p-multiSelect
                *ngIf="categories"
                [options]="categories"
                [(ngModel)]="selectedCategories"
                (onChange)="validateCategories()"
                [ngModelOptions]="{ standalone: true }"
                defaultLabel="Seleccionar categorias"
                optionLabel="name"
                name="categories"
              ></p-multiSelect>
            </div>
            <div class="col-sm-12">
              <small
                *ngIf="showMultiselectRequiredMessage"
                id="username2-help"
                class="p-invalid"
              >
                Este campo no puede estar vacio</small
              >
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3">
              <input
                type="file"
                class="custom-file-input"
                id="customFileLangHTML"
                name="file"
                (click)="onClickImage()"
                (change)="handleFileInput($event.target.files)"
              />
              <label
                class="custom-file-label"
                for="customFileLangHTML"
                data-browse="Seleccionar"
                style="margin-left: 15px"
                >Imagen</label
              >
              <small
                *ngIf="showImageRequiredMessage"
                id="username2-help"
                class="p-invalid"
              >
                Este campo no puede estar vacio</small
              >
            </div>
            <div class="col-sm-12">
              <label for="exampleFormControlTextarea1"
                >Escribe un extracto (opcional)</label
              >
            </div>
            <div class="col-sm-12 mb-3">
              <textarea
                class="form-control"
                pInputText
                id="exampleFormControlTextarea1"
                formControlName="excerpt"
                rows="3"
                [ngClass]="{ 'p-invalid': isValidField('excerpt') }"
              ></textarea>
              <small
                *ngIf="isValidField('excerpt')"
                id="excerpt-help"
                class="p-invalid"
              >
                {{ getErrorMessage("excerpt") }}</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
