<p>
  <button
    class="btn btn-warning"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Agregar noticia
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="container">
    <h4>Agregar Noticia</h4>
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <h5>Titulo</h5>
        <input type="text" pInputText [(ngModel)]="titulo" />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <h5>Extracto</h5>
        <textarea
          inputId="textarea"
          rows="3"
          cols="30"
          [(ngModel)]="extracto"
          pInputTextarea
        ></textarea>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <div class="form-group">
          <label for="file">Choose File</label>
          <input
            type="file"
            id="file"
            (change)="handleFileInput($event.target.files)"
          />
        </div>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <h5>Contenido</h5>
        <p-editor [(ngModel)]="text2" [style]="{ height: '320px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
            </span>
          </ng-template>
        </p-editor>
      </div>
    </div>

    <p>Value: {{ text2 || "empty" }}</p>
    <p>Value: {{ fileToUpload || "empty" }}</p>
  </div>
</div>
