<form #createPostForm="ngForm" (ngSubmit)="onCreatePost(createPostForm)">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-8">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Añadir título</label>
            <input
              type="text"
              name="titulo"
              class="form-control"
              id="inputEmail4"
              ngModel
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Contenido de la noticia</label>
            <p-editor
              [(ngModel)]="contenido"
              [style]="{ height: '320px' }"
              name="editor"
            >
              <ng-template pTemplate="header">
                <span class="ql-formats">
                  <button
                    type="button"
                    class="ql-bold"
                    aria-label="Bold"
                  ></button>
                  <button
                    type="button"
                    class="ql-italic"
                    aria-label="Italic"
                  ></button>
                  <button
                    type="button"
                    class="ql-underline"
                    aria-label="Underline"
                  ></button>
                </span>
              </ng-template>
            </p-editor>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputAddress2">Visibilidad</label>
            <select
              name="selector"
              class="custom-select mr-sm-2"
              [(ngModel)]="visibilityOption"
              (ngModelChange)="toNumber()"
            >
              <option *ngFor="let item of visibility" [value]="item.num">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4" style="display: flex">
            <button
              type="submit"
              class="btn btn-warning"
              style="align-self: flex-end; width: 100%"
            >
              Publicar
            </button>
          </div>
        </div>

        <div class="form-group">
          <label for="inputAddress2" style="display: block"
            >Fecha de publicación</label
          >
          <p-calendar
            inputId="calendar"
            [locale]="es"
            dateFormat="dd/mm/yy"
            showButtonBar="true"
            [showIcon]="true"
            [(ngModel)]="fecha"
            name="date"
          ></p-calendar>
        </div>
        <div class="form-group">
          <label for="inputAddress2" style="display: block">Categorias</label
          ><p-multiSelect
            *ngIf="categories"
            [options]="categories"
            [(ngModel)]="selectedCategories"
            defaultLabel="Seleccionar categorias"
            optionLabel="name"
            name="categories"
          ></p-multiSelect>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="customFileLangHTML"
              name="file"
              (change)="handleFileInput($event.target.files)"
            />
            <label
              class="custom-file-label"
              for="customFileLangHTML"
              data-browse="Seleccionar"
              >Imagen destacada</label
            >
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"
            >Escribe un extracto (opcional)</label
          >
          <textarea
            class="form-control"
            name="extracto"
            id="exampleFormControlTextarea1"
            rows="3"
            ngModel
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
